* {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
}


/* iMAGEM DE FUNDO DO MENU */

.slider {
    position: absolute;
    max-width: 300vh;
    background-size: cover;
    position: absolute;
    width: 105%;
    height: 840px;
    left: -10vh;
    top: 0px;
}

.slider .slider-items .item {
    display: none;
}

.slider .slider-items .item.active {
    display: block;
}

.slider img {
    position: absolute;
    background-size: contain;
    max-width: 10%;
}


/* MENU PRINCIPAL */

#menuPrincipal {
    position: absolute;
    left: 45px;
}


/* BOTÃO ANIMADO DO MENU */

.btnAcao {
    position: absolute;
    width: 35px;
    height: 30px;
    top: 2em;
    left: 15.5em;
    cursor: pointer;
    z-index: 1;
}

#button {
    position: absolute;
    width: 35px;
    height: 3px;
    background: #FFFFFF;
}

#button1 {
    position: absolute;
    width: 35px;
    height: 3px;
    top: 0.5em;
    background: #FFFFFF;
}

#button2 {
    position: absolute;
    width: 30px;
    height: 3px;
    top: 1em;
    background: #FFFFFF;
}


/* STYLE DO MENU PRICIPAL */

.retangulo {
    position: absolute;
    width: 565px;
    height: 249px;
    left: 210px;
    top: 90px;
    /* Blue */
    background: #3EC6E0;
    border-radius: 5px;
    z-index: 0;
}

.quadrado {
    position: absolute;
    width: 18.37px;
    height: 18.37px;
    left: 250px;
    top: 72px;
    /* Blue */
    background: #3EC6E0;
    transform: rotate(135deg);
    z-index: 0;
}

#menu3 {
    position: absolute;
    width: 565px;
    height: 249px;
    left: 200px;
    top: 80px;
    /* Dark blue */
    background: #084154;
    /* Blue */
    border: 2px solid #3EC6E0;
    box-sizing: border-box;
    border-radius: 5px;
}


/* STYLE DA LISTA DE GAMES */

.mainM {
    position: absolute;
    top: 50px;
    left: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
    z-index: 3;
}

.action {
    left: 50px;
    top: 80px;
}

.select {
    position: absolute;
    width: 160px;
    height: 33px;
    left: -35px;
    /* Blue */
    background: #3EC6E0;
    border-radius: 5px;
}

#select1 {
    position: absolute;
    left: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

ul {
    position: absolute;
    width: 200px;
    height: 124px;
    left: 40px;
    top: 60px;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
}

.mainN {
    position: absolute;
    top: 50px;
    left: 200px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
    z-index: 3;
}

.action1 {
    left: 200px;
    top: 80px;
}

.mainO {
    position: absolute;
    top: 50px;
    left: 400px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
    z-index: 3;
}

.action2 {
    left: 400px;
    top: 80px;
}


/* MENU COM ICONES */

.send {
    position: absolute;
    width: 25px;
    top: 30px;
    height: 20px;
    left: calc(103.5% - 30px/2 - 572px);
    /* transform: rotate(15deg); */
}

.sendCont {
    position: absolute;
    top: 30px;
    font-size: 18px;
    left: calc(105% - 3px/2 - 572px);
    color: rgb(255, 255, 255);
}

.hr {
    position: absolute;
    width: 20px;
    top: 40px;
    left: calc(110.5% - 3px/2 - 572px);
    transform: rotate(90deg);
}

.search {
    position: absolute;
    width: 30px;
    height: 25px;
    top: 28px;
    left: calc(112.5% - 3px/2 - 572px);
}

.searchBusq {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30px;
    font-size: 18px;
    left: calc(115% - 3px/2 - 572px);
    color: #ffff;
}

.hr1 {
    position: absolute;
    width: 20px;
    top: 40px;
    left: calc(120% - 3px/2 - 572px);
    transform: rotate(90deg);
}

.bag {
    position: absolute;
    width: 30px;
    height: 25px;
    top: 28px;
    left: calc(122% - 3px/2 - 572px);
}


/* INFORMAÇÕES DOS GAMES */

.pain {
    position: absolute;
    left: -20.5em;
    top: 10%;
}

.lateral {
    position: absolute;
    width: 63px;
    height: 364px;
    left: 105em;
    top: 20%;
    background-color: #3EC6E0;
    color: white;
}

.titleLate {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    width: 75%;
    height: 10%;
    top: 13em;
    left: 52.7em;
    border-radius: 0px 0px 0px 10px;
    transform: rotate(90deg);
    list-style: none;
    z-index: 1;
}

#titlelate {
    top: 14em;
}

#lineL {
    position: absolute;
    transform: rotate(90deg);
    left: -1.5em;
    top: 80%;
    width: 110px;
    border: 0.1px solid white;
}


/* MENU LATERAL */

#pain1 {
    position: absolute;
    left: -20.5em;
    top: 52%;
}

.lateral1 {
    position: absolute;
    width: 63px;
    height: 84px;
    left: 105em;
    top: 7%;
    background: #084154;
    border-radius: 0px 0px 0px 10px;
}

.text12 {
    position: absolute;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    left: 30%;
    top: 14px;
    color: white;
}

.left {
    position: absolute;
    font-size: 30px;
    left: 0.2em;
    top: 30px;
    color: white;
    cursor: pointer;
}

.left:hover {
    color: rgb(122, 111, 111);
    transition: 0.5s;
}

.right:hover {
    color: rgb(122, 111, 111);
    transition: 0.5s;
}

.right {
    position: absolute;
    font-size: 30px;
    left: 1.2em;
    top: 30px;
    color: white;
    cursor: pointer;
}

.numb {
    position: absolute;
    display: flex;
    left: 73em;
    top: 24em;
    z-index: 3;
    color: white;
}


/* SEÇÃO SELDA AND SEKIRO */

.FigC {
    position: absolute;
    top: -100px;
}


/* NOME DO JOGO AZUL */

.titleGame {
    position: absolute;
    width: 493px;
    height: 61px;
    top: 56rem;
    left: 180px;
    /* Blue */
    background: #3EC6E0;
    border-radius: 5px;
}

#textGame {
    position: absolute;
    left: 20px;
    top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #084154;
}

#line {
    position: absolute;
    width: 13rem;
    left: 16rem;
    top: 9px;
    border: 0.1px solid #084154;
}

.blue {
    position: absolute;
    width: 10px;
    height: 61px;
    top: 56rem;
    left: 180px;
    /* Blue */
    background: #042f38;
    border-radius: 5px 5px 0px;
}


/* ZELDA AND SEKIRO IMAGE */

.fig {
    background-image: url("../Assets/zelda_banner.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: contain;
    position: absolute;
    width: 75vh;
    height: 368px;
    left: 180px;
    top: 600px;
}

.fig1 {
    background-image: url("../Assets/sekiro_banner.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 75vh;
    height: 368px;
    left: 700px;
    top: 600px;
}

.titleGame1 {
    position: absolute;
    width: 493px;
    height: 61px;
    top: 56rem;
    left: 43.8em;
    /* Blue */
    background: #3EC6E0;
    border-radius: 5px;
}

#textGame1 {
    position: absolute;
    left: 20px;
    top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    /* Dark blue */
    color: #084154;
}

#line1 {
    position: absolute;
    width: 13rem;
    left: 16rem;
    top: 9px;
    border: 1px solid #084154;
}

.blue1 {
    position: absolute;
    width: 10px;
    height: 61px;
    top: 56rem;
    left: 700px;
    /* Blue */
    background: #042f38;
    border-radius: 5px 5px 0px;
}


/* SEÇÃO DESTAQUES */

.ped {
    position: absolute;
    width: 358px;
    height: 42px;
    left: 230px;
    top: 1015px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    /* Dark blue */
    color: #084154;
}

.grid {
    position: absolute;
    width: 25px;
    top: 64rem;
    left: 13.5%;
}

.game1 {
    position: absolute;
    /* background-size: contain; */
    width: 300px;
    height: 400px;
    left: 200px;
    top: 1150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.gameOut {
    position: absolute;
    background-size: cover;
    width: 250px;
    height: 250px;
    left: 20px;
    top: 10%;
}

.lineBlue {
    position: absolute;
    width: 300px;
    height: 2px;
    left: 0%;
    top: 80%;
    /* Blue */
    background-color: #3EC6E0;
}

.lineBlue1 {
    position: absolute;
    width: 300px;
    height: 2px;
    left: 0%;
    top: 80%;
    /* Blue */
    background-color: #3EC6E0;
}

.lineBlue2 {
    position: absolute;
    width: 300px;
    height: 2px;
    left: 0%;
    top: 80%;
    /* Blue */
    background-color: #3EC6E0;
}

.purchase {
    position: absolute;
    width: 300px;
    height: 160px;
    left: 0px;
    top: 322px;
    background: #F5F5F5;
    border-radius: 0px 0px 10px 10px;
}

#outri {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    /* Dark blue */
    color: #084154;
}

#push {
    position: absolute;
    top: 60px;
    left: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    /* Dark blue */
    color: #084154;
}

#btn {
    position: absolute;
    background: #3EC6E0;
    color: white;
    border-radius: 5px;
    width: 240px;
    height: 52px;
    left: 10%;
    top: 15vh;
    border: none;
}

#comp {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.game2 {
    position: absolute;
    /* background-size: contain; */
    width: 300px;
    height: 400px;
    left: 530px;
    top: 1150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.gameCyber {
    position: absolute;
    background-size: cover;
    width: 250px;
    height: 250px;
    left: 10%;
    top: 10%;
}

.game3 {
    position: absolute;
    /* background-size: contain; */
    width: 300px;
    height: 400px;
    left: 860px;
    top: 1150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.gameDonk {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 15%;
    top: 10%;
}


/* ANIMAÇÃO DO MENU */

.show {
    transition: 0.5s;
    opacity: 1;
}

.hide {
    transition: 0.5s;
    opacity: 0;
}


/* TITULO DO GAME */

.title {
    position: absolute;
    color: white;
    width: 100rem;
    text-align: center;
}

.title1 {
    position: absolute;
    top: 9rem;
    width: 120%;
    font-size: 40px;
}

.value {
    position: absolute;
    top: 12rem;
    width: 132%;
    font-size: 40px;
    color: #3EC6E0;
}

.value1 {
    position: absolute;
    top: 12.5rem;
    width: 142%;
    color: #3EC6E0;
    font-size: 15px;
}

.subtitle {
    position: absolute;
    width: 420px;
    height: 163px;
    left: 45%;
    top: 17rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    /* or 25px */
    text-align: right;
    color: #ffffffc5;
    box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.842);
    background-color: rgba(0, 0, 0, 0.411);
}

.edit {
    position: absolute;
    left: 45%;
    color: #ffffffc5;
    font-size: 16px;
    box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.74);
    background-color: rgba(0, 0, 0, 0.705);
}

#btnLef {
    position: absolute;
    width: 20px;
    height: 30px;
    top: 35px;
    left: 2px;
    background: rgba(0, 0, 0, 0.938);
    border: none;
    cursor: pointer;
}

#btnRig {
    position: absolute;
    width: 20px;
    height: 30px;
    top: 35px;
    left: 2.5em;
    background: #000000;
    border: none;
    cursor: pointer;
}


/* ANIMAÇÃO AO TROCAR DE GAME */

.slider .slider-items .item img {
    max-width: 105%;
    display: block;
    animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


/* FINAL DA PÁGINA */

footer {
    position: absolute;
    width: 450px;
    height: 50px;
    left: 0px;
    top: 2094px;
    /* Dark blue */
    background: #084154;
}

.n1 {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 15px;
    left: 85%;
}

.leftF {
    position: absolute;
    width: 1373px;
    height: 50px;
    top: 0px;
    left: 100%;
    /* Blue */
    background: #3EC6E0;
}

.dev {
    position: absolute;
    height: 16px;
    left: 10px;
    top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}


/* REPONSIVIDADE */

@media only screen and (min-width: 1400px) {
    .burguer {
        left: calc(50% - 30px/2 - 572px);
        top: 15px;
    }
    #menuPrincipal {
        position: absolute;
        left: 45px;
    }
    .figuras {
        position: absolute;
        left: 4%;
    }
    .lateral {
        position: absolute;
        left: 107.5em;
        top: -50px;
    }
    .pain {
        left: -7.5em;
        top: 20%;
    }
    #pain1 {
        left: -5.1em;
        top: 57%;
    }
    .numb {
        position: absolute;
        left: 86.3em;
        top: 26em;
    }
    .titleLate {
        position: absolute;
        top: 15em;
        left: 69.4em;
    }
    #titlelate {
        top: 15em;
    }
    .title1 {
        position: absolute;
        top: 9rem;
        left: 10rem;
        font-size: 45px;
    }
    .value {
        position: absolute;
        left: 9rem;
    }
    .value1 {
        position: absolute;
        left: 9rem;
    }
    .fig {
        left: 8em;
    }
    .fig1 {
        left: 47em;
    }
    .titleGame {
        width: 592px;
        height: 61px;
        top: 59.7rem;
        left: 128px;
    }
    .blue {
        top: 59.7rem;
        left: 128px;
    }
    .titleGame1 {
        width: 592px;
        height: 61px;
        top: 59.8rem;
        left: 47em;
    }
    .blue1 {
        top: 59.78em;
        left: 47em;
    }
    #line {
        width: 16rem;
        left: 18rem;
    }
    #line1 {
        width: 18rem;
        left: 16rem;
    }
    .grid {
        position: absolute;
        width: 25px;
        top: 68rem;
        left: 12.2%;
    }
    .ped {
        left: 230px;
        top: 1080px;
    }
    .game2 {
        left: 630px;
    }
    .game3 {
        left: 1060px;
    }
    .li {
        width: 400px;
        height: 500px;
    }
    .jogo {
        width: 300px;
        height: 300px;
    }
    .gameDonk {
        width: 250px;
        height: 300px;
    }
    .tam {
        width: 100%;
        height: 50%;
        top: 90%;
    }
    .tam1 {
        width: 100%;
        top: 89.5%;
    }
    #outri {
        font-size: 25px;
        line-height: 25px;
    }
    #push {
        font-size: 30px;
        top: 40%;
    }
    #btn {
        width: 70%;
        top: 70%;
        left: 15%;
    }
    .subtitle {
        position: absolute;
        left: 55%;
        top: 17rem;
    }
}


/* MOBILE */

@media only screen and (max-width: 800px) {
    .slider {
        max-width: 200vh;
        width: 160vh;
        height: 840px;
        left: 0vh;
        top: 0px;
    }
    .btnAcao {
        position: absolute;
        left: -1em;
        top: 1.5em;
    }
    .retangulo {
        display: none;
    }
    .quadrado {
        display: none;
    }
    #menu3 {
        width: 70.1em;
        height: 133em;
        left: -5em;
        top: 0px;
    }
    /* MENU HAMBURGUER */
    .mainM {
        top: 100px;
        left: 10%;
        font-size: 35px;
    }
    .mainN {
        top: 20%;
        left: 10%;
        font-size: 35px;
    }
    .mainO {
        top: 36%;
        left: 10%;
        font-size: 35px;
    }
    .action {
        left: 10%;
        top: 6%;
        font-size: 20px;
        line-height: 60px;
    }
    .action1 {
        left: 10%;
        top: 22%;
        font-size: 20px;
        line-height: 60px;
    }
    .action2 {
        left: 10%;
        top: 38%;
        font-size: 20px;
        line-height: 60px;
    }
    #select1 {
        font-size: 60px;
    }
    .select {
        width: 400px;
        height: 60px;
        top: 5%;
        left: -20px;
    }
    #select1 {
        left: 20px;
        font-size: 20px;
    }
    .li {
        width: 400px;
        height: 500px;
    }
    .linha {
        position: absolute;
        left: -30px;
        top: 13em;
        width: 600px;
        border: 1px solid rgba(0, 0, 0, 0.521);
    }
    .lateral {
        width: 38em;
        height: 46px;
        left: 20em;
        top: 19.5em;
        border-radius: 0px 0px 40px 40px;
    }
    .lateral1 {
        width: 11.9em;
        height: 46px;
        left: 60em;
        top: 7.1em;
        border-radius: 0px 0px 50px 0px;
    }
    .n1 {
        background: #084154;
        top: 0em;
        left: 35em;
        width: 6em;
        border-radius: 0px 0px 0px 0px;
    }
    .numb {
        left: 23.5em;
        top: 15.2em;
    }
    .left {
        font-size: 60px;
        left: 0em;
        top: -10px;
    }
    .right {
        font-size: 60px;
        left: 1em;
        top: -10px;
    }
    #lineL {
        display: none
    }
    .titleLate {
        font-size: 25px;
        width: 75%;
        height: 10%;
        top: 14.7em;
        left: -13em;
        transform: rotate(0deg);
    }
    #titlelate {
        top: 14.7em;
    }
    .fig {
        width: 35em;
        height: 368px;
        left: 120px;
        top: 550px;
    }
    .fig1 {
        width: 35em;
        height: 368px;
        left: 120px;
        top: 950px;
    }
    .titleGame {
        width: 560px;
        height: 61px;
        top: 55em;
        left: 120px;
    }
    .titleGame1 {
        width: 560px;
        height: 61px;
        top: 80.4rem;
        left: 120px;
    }
    .blue {
        top: 55rem;
        left: 120px;
    }
    .blue1 {
        top: 80.4rem;
        left: 120px;
    }
    #line {
        width: 10em;
        left: 19em;
        top: 0.6em;
    }
    #line1 {
        width: 13em;
        left: 15em;
        top: 0.6em;
    }
    #textGame {
        font-size: 18px;
    }
    #textGame1 {
        font-size: 18px;
    }
    .tudo {
        position: absolute;
        left: 80px;
    }
    .sendCont {
        font-size: 25px;
        top: 22px;
        left: 240px;
    }
    .send {
        width: 30px;
        height: 30px;
        top: 20px;
        left: 200px;
        transform: rotate(10deg);
    }
    .hr {
        width: 50px;
        top: 35px;
        left: 320px;
    }
    .search {
        width: 30px;
        height: 30px;
        top: 20px;
        left: 360px;
    }
    .searchBusq {
        width: 30px;
        height: 30px;
        top: 20px;
        left: 400px;
        font-size: 25px;
    }
    .hr1 {
        width: 50px;
        top: 35px;
        left: 470px;
    }
    .bag {
        top: 20px;
        left: 510px;
    }
    .subtitle {
        top: 6rem;
        font-size: 17px;
    }
    .black {
        position: absolute;
        width: 51.4em;
        height: 16.5em;
        top: 6em;
        background-color: rgba(0, 0, 0, 0.596);
    }
    .black1 {
        position: absolute;
        width: 51.4em;
        height: 16.5em;
        top: 6em;
        background-color: rgba(0, 0, 0, 0.596);
    }
    .edit {
        box-shadow: none;
        background: none;
        left: 17em;
    }
    .edit1 {
        box-shadow: none;
        background: none;
        left: 20em;
        top: 90px;
        font-size: 15px;
    }
    .title1 {
        top: 0px;
        left: 80px;
        font-size: 35px;
    }
    .title2 {
        left: 10px;
    }
    .value {
        top: 40px;
        left: 85px;
    }
    .value1 {
        top: 50px;
        left: 120px;
    }
    .valueOu {
        left: 95px;
    }
    .valueOut {
        left: 130px;
    }
    .games {
        position: absolute;
        top: 50%;
        left: 0%;
    }
    .game2 {
        left: 200px;
    }
    .game3 {
        left: 200px;
    }
    /* ANIMAÇÃO */
    .games .game2 {
        display: none;
    }
    .games .game3 {
        display: none;
    }
    .games .game1 {
        display: none;
    }
    .games .game1.actived {
        display: block;
    }
    .lateral2 {
        position: absolute;
        top: 15.5em;
        color: rgb(0, 0, 0);
        font-size: 100px;
        display: flex;
        cursor: pointer;
    }
    .right1 {
        position: absolute;
        left: 7.2em;
    }
    .right1:hover {
        color: rgb(48, 48, 48);
        transition: 0.3s;
    }
    .left1:hover {
        color: rgb(48, 48, 48);
        transition: 0.3s;
    }
    #btn {
        top: 20vh;
        left: 20%;
    }
    .grid {
        top: 80rem;
        left: 13.5%;
    }
    .ped {
        top: 79.5rem;
        left: 9rem;
    }
    .purchase {
        width: 400px;
        height: 180px;
    }
    .lineBlue {
        width: 25em;
        top: 64.1%;
    }
    .lineBlue1 {
        width: 25em;
        top: 64.1%;
    }
    .lineBlue2 {
        width: 25em;
        top: 64.1%;
    }
}